* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Lato, serif;
  text-decoration: none;
}

button {
  transition: all 0.5s;
}
button svg path {
  transition: all 0.5s;
}

.center-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 1095px) {
  .center-container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (max-width: 767px) {
  .center-container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.page-header {
  background-color: #222;
  padding-top: 18px;
  padding-bottom: 19px;
}
.page-header .center-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1095px) {
  .page-header .center-container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .page-header .center-container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.page-header__left {
  display: flex;
  align-items: center;
  gap: 40px;
  max-height: 38px;
}
.page-header__right {
  position: relative;
  display: flex;
  align-items: center;
  gap: 33px;
  max-height: 29px;
}
.page-header__burger-menu {
  width: 32px;
  height: 23px;
  background-image: url(img/Forma11.svg);
  background-repeat: no-repeat;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.page-header__burger-menu:hover + .main-nav {
  visibility: visible;
}
@media (max-width: 767px) {
  .page-header__account, .page-header__shoping-cart {
    display: none;
  }
}

.main-nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 32px 74px 32px 32px;
  top: 52px;
  left: 157px;
  gap: 20px;
  width: 232px;
  box-shadow: 6px 4px 35px 0 rgba(0, 0, 0, 0.21);
  visibility: hidden;
  z-index: 2;
}
@media (max-width: 1599px) {
  .main-nav {
    left: 0;
  }
}
@media (max-width: 1286px) {
  .main-nav {
    left: -41px;
  }
}
@media (max-width: 767px) {
  .main-nav {
    left: -185px;
    top: 49px;
  }
}
.main-nav__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 11px;
}
.main-nav__title-link {
  color: #F16D7F;
  margin-bottom: 1px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
}
.main-nav__link {
  display: block;
  margin-left: 24px;
  color: #6F6E6E;
  font-weight: 400;
  font-size: 14px;
}

.promo {
  background-color: #F1E4E6;
  margin-bottom: 65px;
}
.promo .center-container {
  display: flex;
  align-items: center;
  gap: 63px;
}
@media (max-width: 1095px) {
  .promo .center-container {
    gap: 39px;
  }
}
@media (max-width: 767px) {
  .promo .center-container {
    gap: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 148px;
    padding-bottom: 148px;
  }
}
.promo__logo {
  margin-left: -234px;
}
@media (max-width: 1095px) {
  .promo__logo {
    max-width: 386px;
    margin-left: -14px;
  }
}
@media (max-width: 767px) {
  .promo__logo {
    display: none;
  }
}
.promo__title {
  font-weight: 900;
  font-size: 48px;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  padding-top: 13px;
  line-height: 38px;
  color: #222222;
}
@media (max-width: 1095px) {
  .promo__title {
    font-size: 44px;
    max-width: 308px;
    line-height: 28px;
    padding-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .promo__title {
    font-size: 38px;
    max-width: 308px;
    line-height: 28px;
    padding-bottom: 15px;
  }
}
.promo__subtitle {
  font-weight: 700;
  font-size: 32px;
}
@media (max-width: 1095px) {
  .promo__subtitle {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .promo__subtitle {
    font-size: 20px;
  }
}
.promo__subtitle-pink {
  color: #F16D7F;
}

.categories {
  margin-bottom: 96px;
}
@media (max-width: 767px) {
  .categories {
    margin-bottom: 64px;
  }
}
.categories .center-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px 180px;
  gap: 30px;
}
@media (max-width: 1095px) {
  .categories .center-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 167px 116px;
    gap: 18px;
  }
}
@media (max-width: 767px) {
  .categories .center-container {
    grid-template-columns: 1fr;
    grid-template-rows: 247px 247px 247px 111px;
    gap: 32px;
    background-repeat: no-repeat;
    padding-right: 16px;
    padding-left: 16px;
  }
}
@media (max-width: 1095px) {
  .categories__card {
    background-position: top;
  }
}
.categories__card-text {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.categories__card-title {
  font-weight: 700;
  font-size: 26px;
  color: #F16D7F;
}
.categories__card-women {
  background-image: url(img/Layer43.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.categories__card-men {
  background-image: url(img/Rectangle30.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.categories__card-kids {
  background-image: url(img/Rectangle301.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.categories__card-accsesories {
  background-image: url(img/Rectangle204.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  grid-column: span 3;
}
@media (max-width: 767px) {
  .categories__card-accsesories {
    grid-column: span 1;
  }
}

.categiries-content {
  background-color: rgba(33, 22, 22, 0.7);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.products {
  padding-bottom: 60px;
  margin-bottom: 95px;
}
.products .center-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.products__title {
  font-weight: 400;
  font-size: 30px;
}
.products__text {
  color: #9F9F9F;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 48px;
}
@media (max-width: 767px) {
  .products__text {
    text-align: center;
  }
}
.products__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 50px;
}
@media (max-width: 1095px) {
  .products__grid {
    grid-template-columns: repeat(2, 360px);
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 32px;
  }
}
@media (max-width: 767px) {
  .products__grid {
    grid-template-columns: repeat(1, minmax(304px, 360px));
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 40px;
  }
}

.product-card {
  background-color: #F8F8F8;
  max-width: 360px;
}
.product-card:hover .product-card__img::before {
  opacity: 1;
}
.product-card:hover .product-card__btn {
  visibility: visible;
}
.product-card__img {
  margin-bottom: 25px;
  position: relative;
}
.product-card__img::before {
  transition: all 0.5s;
  opacity: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(58, 56, 56, 0.86);
}
.product-card__image {
  max-width: 100%;
}
.product-card__btn {
  visibility: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  padding: 11px 16px 8px 13px;
  left: calc(50% - 70px);
  top: calc(50% - 22px);
  background-color: inherit;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}
.product-card__title {
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 12px;
  padding-left: 16px;
  padding-right: 28px;
  color: #000;
}
.product-card__text {
  font-weight: 300;
  font-size: 14px;
  color: #5D5D5D;
  margin-bottom: 18px;
  padding-left: 16px;
  padding-right: 28px;
}
.product-card__subtext {
  font-weight: 400;
  font-size: 16px;
  color: #F16D7F;
  padding-left: 16px;
  padding-right: 28px;
  margin-bottom: 20px;
  display: inline-block;
}

.browse-button {
  font-weight: 400;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid #FF6A6A;
  color: #F26376;
  background-color: #fff;
  cursor: pointer;
}
.browse-button:hover {
  background-color: #F16D7F;
  color: #fff;
}

.advantages {
  background-color: #222224;
  color: #FBFBFB;
  padding-top: 103px;
  padding-bottom: 104px;
}
.advantages .center-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
@media (max-width: 1095px) {
  .advantages .center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.advantages__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
}
.advantages__card:first-child .advantages__card__card-img {
  margin-bottom: 28px;
}
.advantages__card:last-child .advantages__card__card-img {
  margin-bottom: 25px;
}
.advantages__card:nth-child(2) .advantages__card__card-img {
  margin-bottom: 25px;
}
.advantages__card-title {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 16px;
}
.advantages__card-text {
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  max-width: 300px;
}

.subscribe {
  position: relative;
  background: url(img/Layer41.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 64px;
  padding-bottom: 110px;
}
.subscribe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(244, 244, 244, 0.7);
}
.subscribe .center-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1095px) {
  .subscribe .center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.subscribe__comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
  z-index: 1;
}
@media (max-width: 1095px) {
  .subscribe__comment {
    margin-bottom: 48px;
  }
}
.subscribe__comment-img {
  margin-bottom: 30px;
}
.subscribe__comment-text {
  font-weight: 400;
  font-size: 20px;
  font-style: italic;
  text-align: center;
}
@media (max-width: 767px) {
  .subscribe__comment-text {
    font-size: 18px;
  }
}
.subscribe__act {
  z-index: 1;
}
.subscribe__act-title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
.subscribe__act-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .subscribe__act-text {
    font-size: 14px;
    text-align: center;
  }
}
.subscribe__act-email {
  padding-left: 22px;
  width: 256px;
  height: 50px;
  background-color: #E1E1E1;
  border: none;
  border-radius: 50px 0 0 50px;
}
@media (max-width: 767px) {
  .subscribe__act-email {
    width: 245px;
    height: 46px;
  }
}
@media (max-width: 360px) {
  .subscribe__act-email {
    width: 210px;
  }
}
.subscribe__act-form {
  display: flex;
}
.subscribe__act-button {
  width: 100px;
  height: 50px;
  background-color: #F16D7F;
  border: none;
  color: #fff;
  border-radius: 0 50px 50px 0;
}
.subscribe__act-button:hover {
  background-color: #fff;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}
@media (max-width: 767px) {
  .subscribe__act-button {
    width: 95px;
    height: 46px;
  }
}
@media (max-width: 360px) {
  .subscribe__act-button {
    width: 90px;
  }
}

.footer {
  background-color: #222224;
}
.footer .center-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 23px;
  color: #fff;
}
@media (max-width: 767px) {
  .footer .center-container {
    flex-direction: column-reverse;
    gap: 40px;
    padding-bottom: 9px;
    padding-top: 43px;
  }
}

.social {
  display: flex;
  gap: 7px;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #fff;
  transition: all 0.5s;
}
.social__link:hover {
  background-color: #F16D7F;
}
.social__link svg path {
  transition: all 0.5s;
}
.social__link:hover svg path {
  fill: #fff;
}

.top-page {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F8F3F4;
}
@media (max-width: 555px) {
  .top-page {
    padding-top: 24px;
    padding-bottom: 46px;
  }
}
.top-page .center-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 555px) {
  .top-page .center-container {
    flex-direction: column;
    gap: 32px;
  }
}
.top-page__only-title {
  padding-top: 60px;
  padding-bottom: 60px;
}
.top-page__title {
  color: #F16D7F;
  font-weight: 400;
  font-size: 24px;
}

.breadcrumbs__list {
  display: flex;
  gap: 16px;
}
.breadcrumbs__item {
  display: inline-block;
  position: relative;
}
.breadcrumbs__item::before {
  position: absolute;
  content: "/";
  left: -11px;
  top: 2px;
  font-size: 14px;
}
.breadcrumbs__item:first-child::before {
  visibility: hidden;
}
.breadcrumbs__link {
  color: #000;
  line-height: 17px;
  font-weight: 300;
  font-size: 14px;
  transition: all 0.5s;
}
.breadcrumbs__link:hover {
  color: #F16D7F;
}
.breadcrumbs__link--active {
  color: #F16D7F;
  font-weight: 700;
}

.product-page {
  padding-top: 11px;
  padding-bottom: 42px;
  background-color: #F7F7F7;
}
@media (max-width: 1158px) {
  .product-page {
    padding-bottom: 0;
  }
}
.product-page .center-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1158px) {
  .product-page .center-container {
    flex-direction: column;
  }
}
@media (max-width: 1158px) {
  .product-page__slider {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    height: 624px;
    width: 100%;
  }
}
@media (max-width: 1158px) {
  .product-page__img {
    max-width: 466px;
  }
}
.product-page__button-left {
  position: absolute;
  width: 47px;
  height: 47px;
  border: none;
  left: 0;
  top: calc(50% - 23px);
  background-color: rgba(42, 42, 42, 0.15);
  cursor: pointer;
}
.product-page__button-left:hover svg path {
  fill: #F16D7F;
}
.product-page__button-right {
  position: absolute;
  width: 47px;
  height: 47px;
  border: none;
  right: 0;
  top: calc(50% - 23px);
  background-color: rgba(42, 42, 42, 0.15);
  cursor: pointer;
}
.product-page__button-right:hover svg path {
  fill: #F16D7F;
}

.description {
  position: absolute;
  background-color: #fff;
  padding-top: 64px;
  padding-bottom: 64px;
  width: 1140px;
  top: 700px;
  border: 1px solid #EAEAEA;
}
@media (max-width: 1158px) {
  .description {
    position: static;
  }
}
.description .center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 642px;
  padding-bottom: 64px;
  border-bottom: 1px solid #EAEAEA;
}
.description__title {
  position: relative;
  margin-bottom: 27px;
  font-weight: 300;
  font-size: 14px;
  color: #F16D7F;
}
.description__title::before {
  position: absolute;
  content: "";
  width: 64px;
  height: 3px;
  bottom: -15px;
  left: calc(50% - 32px);
  background-color: #EF5B70;
}
.description__subtitle {
  font-weight: 300;
  font-size: 18px;
  color: #4D4D4D;
  margin-bottom: 48px;
}
.description__text {
  font-weight: 300;
  font-size: 14px;
  color: #5E5E5E;
  text-align: center;
  width: 554px;
  margin-bottom: 32px;
}
@media (max-width: 600px) {
  .description__text {
    width: 326px;
  }
}
.description__price {
  color: #EF5B70;
  font-weight: 300;
  font-size: 24px;
}
.description__details {
  display: flex;
  align-items: center;
  gap: 22px;
  padding-top: 64px;
  padding-bottom: 48px;
  font-weight: 400;
  font-size: 14px;
}
@media (max-width: 600px) {
  .description__details {
    font-size: 12px;
  }
}
.description__details details {
  position: relative;
}
.description__item {
  list-style: none;
  cursor: pointer;
}
.description__item-text {
  color: #6F6E6E;
  margin-right: 5px;
}
.description__box {
  position: absolute;
  background-color: #fff;
  padding: 6px 30px 11px 9px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.description__check {
  display: flex;
  gap: 9px;
  align-items: center;
}
.description__button {
  display: flex;
  gap: 22px;
  padding: 15px 57px 14px 30px;
  margin-left: 70px;
  color: #F16D7F;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid #FF6A6A;
  background-color: transparent;
  cursor: pointer;
}
.description__button:hover {
  background-color: #F16D7F;
  color: #fff;
}
.description__button:hover svg path {
  fill: #fff;
}

.product-catalog {
  padding-top: 664px;
  padding-bottom: 128px;
}
@media (max-width: 1158px) {
  .product-catalog {
    padding-top: 128px;
  }
}
.product-catalog .center-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}
@media (max-width: 1158px) {
  .product-catalog .center-container {
    gap: 16px;
  }
}
@media (max-width: 600px) {
  .product-catalog .center-container {
    flex-wrap: wrap;
    gap: 16;
  }
}
@media (max-width: 1158px) {
  .product-catalog .center-container .product-card:last-child {
    display: none;
  }
}

.main-catalog {
  padding-top: 38px;
  padding-bottom: 96px;
}
.main-catalog__filter-sort {
  display: flex;
  gap: 30px;
}
@media (max-width: 1188px) {
  .main-catalog__filter-sort {
    justify-content: center;
  }
}
.main-catalog__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 360px));
  grid-template-rows: repeat(auto-fit, minmax(580px, 1fr));
  justify-content: center;
  gap: 30px;
  padding-bottom: 48px;
}
@media (max-width: 1216px) {
  .main-catalog__items {
    gap: 16px;
  }
}

.filter {
  position: relative;
  padding-bottom: 81px;
  width: 360px;
  cursor: pointer;
}
.filter__details {
  position: absolute;
  padding: 13px 15px 16px 16px;
  width: 360px;
  background-color: #fff;
  z-index: 2;
}
@media (max-width: 555px) {
  .filter__details {
    width: 270px;
  }
}
.filter__details[open] {
  z-index: 4;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
}
.filter__details[open] .filter__title {
  color: #F16D7F;
}
.filter__details[open] .filter__title svg path {
  fill: #F16D7F;
}
.filter__title {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 14px;
}
@media (max-width: 555px) {
  .filter__title span {
    display: none;
  }
  .filter__title svg {
    width: 37px;
    height: 25px;
  }
}
.filter__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.filter__options[open] .filter__subtitle {
  color: #F16D7F;
}
.filter__subtitle {
  display: block;
  padding: 8px 0 11px 16px;
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #EBEBEB;
  font-size: 14px;
}
.filter__options-content {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-left: 24px;
  padding-top: 24px;
}
.filter__link {
  color: #6F6E6E;
  font-size: 14px;
  transition: all 0.5s;
}
.filter__link:hover {
  color: #F16D7F;
}

.sort {
  min-width: 360px;
  z-index: 3;
}
@media (max-width: 555px) {
  .sort {
    min-width: 260px;
  }
}
.sort__details {
  display: flex;
  align-items: center;
  gap: 22px;
  padding-top: 12px;
  padding-bottom: 48px;
  font-weight: 400;
  font-size: 14px;
}
@media (max-width: 1188px) {
  .sort__details {
    justify-content: end;
  }
}
@media (max-width: 555px) {
  .sort__details {
    font-size: 12px;
  }
}
.sort__details details {
  position: relative;
}
.sort__item {
  list-style: none;
  cursor: pointer;
}
.sort__item-text {
  color: #6F6E6E;
  margin-right: 5px;
}
.sort__box {
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: absolute;
  background-color: #fff;
  padding: 6px 30px 11px 9px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 2;
  margin-left: -9px;
  top: 24px;
}
.sort__check {
  display: flex;
  gap: 9px;
  align-items: center;
}

.pagenation {
  margin: 0 auto;
  max-width: 284px;
  border: 1px solid #EBEBEB;
}
.pagenation__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
}
.pagenation__button {
  padding-top: 4px;
}
.pagenation__button:hover path {
  fill: #F16D7F;
}
.pagenation__items {
  display: flex;
}
.pagenation__link {
  margin-left: 22px;
  font-weight: 300;
  color: #c4c4c4;
  line-height: 19px;
}
.pagenation__link:hover {
  color: #F16D7F;
}
.pagenation__link:first-child {
  margin-left: 0;
}
.pagenation__link--active {
  color: #F16D7F;
}
.pagenation__link-dots {
  margin-left: 0;
  cursor: default;
}
.pagenation__link-dots:hover {
  color: #c4c4c4;
}
.pagenation__link-dots + .pagenation__link {
  margin-left: 0;
}

.cart {
  padding-top: 96px;
  padding-bottom: 128px;
}
.cart__content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1095px) {
  .cart__content {
    flex-direction: column;
    gap: 65px;
  }
}
.cart__content-left {
  display: flex;
  flex-direction: column;
  gap: 72px;
  max-width: 652px;
}
@media (max-width: 1095px) {
  .cart__content-left {
    width: 100%;
    margin: 0 auto;
  }
}
.cart__cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cart__buttons {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1095px) {
  .cart__buttons {
    justify-content: center;
    gap: 48px;
  }
}
@media (max-width: 600px) {
  .cart__buttons {
    gap: 9px;
  }
}
.cart__button {
  width: 235px;
  height: 50px;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  border: 1px solid #a4a4a4;
  background-color: #fff;
  cursor: pointer;
}
@media (max-width: 600px) {
  .cart__button {
    font-size: 12px;
  }
}
.cart__content-right {
  display: flex;
  flex-direction: column;
  gap: 57px;
}
@media (max-width: 1095px) {
  .cart__content-right {
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
  }
}
@media (max-width: 600px) {
  .cart__content-right {
    display: flex;
    flex-direction: column;
  }
}

.cart-card {
  position: relative;
  display: flex;
  max-height: 306px;
  max-width: 100%;
  background-color: #fff;
  box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.13);
}
.cart-card__img {
  height: 306px;
}
@media (max-width: 600px) {
  .cart-card__img {
    height: 190px;
  }
}
.cart-card__content {
  display: flex;
  flex-direction: column;
  gap: 42px;
  padding-top: 22px;
  padding-left: 31px;
}
@media (max-width: 600px) {
  .cart-card__content {
    gap: 26px;
    padding-top: 13px;
  }
}
.cart-card__title {
  max-width: 262px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #222;
}
@media (max-width: 600px) {
  .cart-card__title {
    max-width: 144px;
    font-weight: 400;
    font-size: 16px;
  }
}
.cart-card__details {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.cart-card__detail {
  font-size: 22px;
  color: #575757;
}
@media (max-width: 600px) {
  .cart-card__detail {
    max-width: 110px;
    font-weight: 400;
    font-size: 14px;
  }
}
.cart-card__detail-price {
  color: #F16D7F;
}
.cart-card__color {
  color: #6F6E6E;
}
.cart-card__detail-size {
  color: #6F6E6E;
}
.cart-card__detail-input {
  text-align: center;
  margin-left: 24px;
  width: 44px;
  font-size: 18px;
  line-height: 21px;
  color: #656565;
  border: 1px solid #EAEAEA;
}
@media (max-width: 600px) {
  .cart-card__detail-input {
    width: 24px;
    height: 15px;
  }
}
.cart-card__detail-input::-webkit-outer-spin-button, .cart-card__detail-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart-card__close {
  position: absolute;
  top: 28px;
  right: 22px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.cart-card__close:hover svg path {
  fill: #F16D7F;
}
@media (max-width: 600px) {
  .cart-card__close {
    top: 0px;
    right: 12px;
  }
  .cart-card__close svg {
    width: 10px;
    height: 10px;
  }
}
@media (max-width: 1095px) {
  .cart-card {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .cart-card {
    max-height: 190px;
  }
}

.cart-form {
  display: flex;
  flex-direction: column;
  width: 360px;
  padding-top: 21px;
  gap: 20px;
}
@media (max-width: 780px) {
  .cart-form {
    width: 250px;
  }
}
@media (max-width: 600px) {
  .cart-form {
    min-width: 100%;
  }
}
.cart-form__title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #222;
}
.cart-form__input {
  height: 45px;
  padding: 0 17px;
  font-size: 13px;
  font-weight: 300;
  color: #222;
  background-color: #fff;
  border: 1px solid #a4a4a4;
}
.cart-form__input::-moz-placeholder {
  color: #818181;
}
.cart-form__input::placeholder {
  color: #818181;
}
.cart-form__input:not(:first-of-type)::-moz-placeholder {
  color: #222;
}
.cart-form__input:not(:first-of-type)::placeholder {
  color: #222;
}
.cart-form__button {
  width: 101px;
  height: 35px;
  font-weight: 300;
  font-size: 11px;
  color: #4a4a4a;
  background-color: #fff;
  border: 1px solid #a4a4aa;
  cursor: pointer;
}

.cart-checkout {
  display: flex;
  flex-direction: column;
  gap: 17px;
  padding: 39px 44px 42px;
  width: 360px;
  height: 214px;
  background-color: #f5f3f3;
}
@media (max-width: 600px) {
  .cart-checkout {
    width: 100%;
  }
}
@media (max-width: 1095px) {
  .cart-checkout {
    margin-top: 59px;
  }
}
.cart-checkout__text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 21px;
  border-bottom: 1px solid #e2e2e2;
}
.cart-checkout__sub {
  text-align: right;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  color: #4a4a4a;
}
.cart-checkout__sub--price {
  margin-left: 25px;
}
.cart-checkout__grand {
  text-align: right;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222;
}
.cart-checkout__grand--price {
  margin-left: 25px;
  font-weight: 700;
  color: #F16D7F;
}
.cart-checkout__button {
  height: 50px;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  background-color: #F16D7F;
  border: none;
  cursor: pointer;
}
@media (max-width: 1095px) {
  .cart-checkout__button {
    padding-left: 41px;
    padding-right: 43px;
  }
}

.registration {
  padding-top: 64px;
  padding-bottom: 96px;
}
.registration .center-container {
  display: flex;
  justify-content: space-between;
  gap: 22px;
}
@media (max-width: 634px) {
  .registration .center-container {
    flex-direction: column;
    gap: 40px;
  }
}

.registration-form {
  width: 360px;
}
@media (max-width: 700px) {
  .registration-form {
    width: 300px;
  }
}
@media (max-width: 634px) {
  .registration-form {
    width: 100%;
  }
}
.registration-form__name {
  display: flex;
  flex-direction: column;
}
.registration-form__title {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #222;
  padding-bottom: 20px;
}
.registration-form__item {
  padding: 0 17px;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  width: 360px;
  height: 45px;
  margin-bottom: 31px;
  border: 1px solid rgb(164, 164, 164);
}
@media (max-width: 700px) {
  .registration-form__item {
    width: 300px;
  }
}
@media (max-width: 634px) {
  .registration-form__item {
    width: 100%;
  }
}
.registration-form__item::-moz-placeholder {
  color: #B1B1B1;
}
.registration-form__item::placeholder {
  color: #B1B1B1;
}
.registration-form__gender {
  display: flex;
  margin-bottom: 33px;
  gap: 20px;
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
}
.registration-form__gender-item label {
  padding-left: 10px;
}
.registration-form__login {
  display: flex;
  flex-direction: column;
}
.registration-form__tip {
  margin-top: -5px;
  margin-bottom: 39px;
  width: 360px;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  color: #B1B1B1;
}
.registration-form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #F16D7F;
  color: #fff;
  border: none;
  min-width: 167px;
  min-height: 50px;
}
.registration-form__button:hover {
  background-color: #fff;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}
.registration-form__button:hover svg path {
  fill: #F16D7F;
}

.registration-advantages {
  display: flex;
  flex-direction: column;
  gap: 22px;
  max-width: 652px;
}
.registration-advantages__title, .registration-advantages__text, .registration-advantages__item {
  font-size: 24px;
  font-weight: 300;
}
.registration-advantages__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
}
.registration-advantages__item::before {
  content: url(img/galochka.svg);
  padding-right: 22px;
}

.cart-items {
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1200px;
  margin: 0 auto;
}
.cart-items .cart-card {
  max-width: 652px;
  margin-bottom: 40px;
}
.cart-items .cart-card:last-child {
  margin-bottom: 96px;
}
.cart-items__title {
  margin-top: 96px;
  margin-bottom: 64px;
  text-align: center;
}
@media (max-width: 1095px) {
  .cart-items {
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */